
.details-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

.details-row {
  display: flex;
  margin-bottom: 10px;
}

.details-label {
  width: 150px;
  font-weight: bold;
  text-align: left;
}

.details-value {
  flex-grow: 1;
  text-align: left;
}

.link{
  text-decoration: none;
  coloe:blue;
  background-color: lightblue;
  padding: 8px;
  border-radius: 15px;
}

.link, .link:visited, .link:hover, .link:active {
  color: inherit;
}
